---
import Layout from '../layouts/Layout.astro';
import translation from '../locales/en.json';
import '../styles/privacy.scss';
const {lang = "en" } = Astro.props;

---


<Layout lang={lang} title="faq" description="faq">

     <section class="pt-12 lg:px-52 ">
     <h2 class="text-h2 lg:text-4xl  text-center mb-7  lg:px-auto">Privacy</h2>

     </section>

</Layout>